body{
    background: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat;
    background-size: cover;
    background-attachment: fixed;/* to the pic to be in continuous*/
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh ;
}

.container{
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.781) ;
    position: relative;
    background: inherit;
    overflow: hidden;/* to cut excess blur*/
    border-radius: 30px;
    z-index: 1;
}

.container:before{
    content:"";
    position: absolute;
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;/*making a box with 0 dimensions */
    box-shadow: inset 0 0 2000px rgba(250, 12, 84, 0.541);
    filter: blur(5px);
    margin: -20px;/* to remove unnecessary margin*/
    z-index: -1;
}

p{
    margin: 20px;
    text-align: center;
    margin-top: 3rem;
}